{
	"extends": [
	  "@geostarters",
	  "plugin:react/recommended"
	],
	"plugins": [
		"flowtype"
	],
	"parserOptions": {
		"sourceType": "module"
	},
	"globals": {
		"performance": true,
		"document": true,
		"window": true,
		"navigator": true,
		"fetch": true,
		"it": true
	}
}